body {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}


.main__container {
	width: 400px;
	margin-top: 200px;
	border: 10px solid #94d6bb;
}

.results__container {
	display: none;
}