body {
	background-color: #68acff;
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
}



.main__container {
	background-color: white;
	width: 350px;
	height: 400px;
	margin-top: 130px;
	border-radius: 50px;
}



.room__container {
	display: none;
	margin-top: 125px;
}

.phrase {
	font-size: 30px;
	font-style: bold;
	margin-bottom: 20px;
}

.phraseTime {
	font-size: 30px;
	font-style: bold;
	margin-bottom: 20px;
}

.results__container {
	display: none;
	margin-top: 110px;
}

.finalScore {
	font-size: 30px;
	font-style: bold;
	margin-bottom: 20px;
}

.firstScreen__container {
	margin-top: 30px;
}

.firstScreen__container img {
	width: 300px;
	height: 200px;
	margin-bottom: -30px;
}

.firstScreen__container button {
	font-style: bold;
	font-size: 20px;
	color: white;
	background-color: #aafca5;
	border: 1px solid #aafca5;
	border-radius: 50px;
	cursor: pointer;
	width: 120px;
	height: 40px;
}